<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Curve Point List</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row" th:insert="~{nav}"></div>
	<div class="row"><h2>Curve Point List</h2></div>
	<div class="row">
		<a href="/curvePoint/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>CurvePointId</th>
					<th>Term</th>
					<th>Value</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="curvePoint : ${curvePoints}">
					<td style="width: 10%" th:text="${curvePoint.id}"></td>
					<td th:text="${curvePoint.id}"></td>
					<td th:text="${curvePoint.term}"></td>
					<td th:text="${curvePoint.value}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/curvePoint/update/{id}(id=${curvePoint.id})}">Edit</a>&nbsp;|&nbsp;
						<a th:href="@{/curvePoint/delete/{id}(id=${curvePoint.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>