<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Poseidon Error</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap5.min.css">
</head>
<body>
    <div class="m-5 w-50">
        <div class="row">
            <h3 class="col-6" th:text="${errorName}">Erreur</h3>
            <div class="col-6 d-flex flex-column align-items-end">
                <p>Logged in user: <b th:inline="text"  class="user"> [[${username}]] </b></p>
                <form th:action="@{/app-logout}" method="POST">
                    <input type="submit" value="Logout"/>
                </form>
            </div>
        </div>

        <p class="error" th:text="${errorMsg}"></p>
        <a href="/"><button class="btn btn-primary">Retourner à l'accueil</button></a>
    </div>
</body>
</html>