<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body th:fragment="navbar">
    <nav class="col-6">
        <span sec:authorize="hasRole('ADMIN')">
        <a href="/user/list">User List</a>&nbsp;|&nbsp;
        </span>
        <a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
        <a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
        <a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
        <a href="/trade/list">Trade</a>&nbsp;|&nbsp;
        <a href="/ruleName/list">Rule</a>
    </nav>
    <div class="col-6 text-right">
        Logged in user: <b th:inline="text"  class="user"> [[${username}]] </b>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</body>
</html>